<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/all.min.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app-min.js"></script>
  </head>
  <body ng-app="Stopwatch">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Stopwatch</h1>
      </ion-header-bar>
      
      <ion-content scroll="false">
        <stop-watch lap-attr="newLap"></stop-watch>
      </ion-content>
      
    </ion-pane>
  </body>
</html>

<script type="text/ng-template" id="StopWatch">
  <div class="container-cart">
    <div class="card">
      <div class="item item-text-wrap padding ant-scoreboard">
        <span class="ant-digital">{{swctrl.getElapsedMs()}}</span>
        <span class="ant-digital ant-bg">00:00.00</span>
      </div>
      <div class="item item-divider">
        <div class="ant-button-bar">
          <a class="button icon-left ion-arrow-right-b button-clear button-dark" ng-hide="timerPromise" ng-click="swctrl.start()">Play</a>
          <a class="button icon-left ion-ios-close button-clear button-dark" ng-show="timerPromise" ng-click="swctrl.stop()">Stop</a>
          <a class="button icon-left ion-ios-refresh-outline button-clear button-dark" ng-click="swctrl.reset()"></a>
          <a class="button icon-left ion-android-stopwatch button-clear button-dark" ng-click="swctrl.lap()"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-list">
    <ion-scroll direction="y" style="height: 100%">
    <ion-list>
      <ion-item ng-repeat="lap in laps" class="item item-icon-right animated">
        <label class="item-icon-right">{{ lap.time }}</label>
        <label class="item-icon-right">00:00.00</label>
        <button class="button" ng-click="swctrl.removeLap($index)">REMOVE</button>
        <input type="text" placeholder="..." value="{{ lap.description }}" ng-model="lap.description">
      </ion-item>
    </ion-list>
    </ion-scroll>
  </div>
</script>