@font-face {
  font-family: 'fontDigital';
  src: url('../fonts/digital-7.ttf') format('truetype'), /* Pretty Modern Browsers */
       url('../fonts/digital-7.woff')  format('woff') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'fontDigitalMono';
  src: url('../fonts/digital-7_mono.ttf') format('truetype'), /* Pretty Modern Browsers */
       url('../fonts/digital-7_mono.woff')  format('woff') /* Safari, Android, iOS */
}
body,
.pane,
ion-content {
  background-color: #333;
}
.item-icon-right {
    padding-right: 20px;
}
input[type="text"] {
  display: inline-block;
}

.card {
  border-radius: 9px;
  background-color: #000;
}
.card .item-text-wrap {
  background-color: #242424;
  color: #fff;
}

.card .ant-digital {
  font-family: 'fontDigitalMono', Fallback, sans-serif;
  font-size: 46px;
  color: #81d830;
  position: absolute;
}
.card .ant-digital.ant-bg {
  color: #334622;
  z-index: -1;
}

.ant-scoreboard {
  height: 70px;
  padding: 23px 57px;
  box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
.list ion-item,
.list input[type="text"] {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.list ion-item {
  border-color: #727272;
}
.list ion-item:first-of-type {
  border-top: none;
}